/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --bodyFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --pinkColor: #f14d5d;
  --titleColor: #000000;
  --bodyColor: #ff0303;
  --lightblueColor: #8d99ff;
  --whiteColor: #ffffff;
  --fontSize: 14px;
  --transition: 0.5s;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-weight: 400;
  font-size: var(--fontSize);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  color: #12355b;
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  outline: 0;
}

button:focus {
  outline: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--titleColor);
  line-height: 1.4;
}

h3 {
  font-size: 22px;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.pt-150 {
  padding-top: 150px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.ml-image {
  position: relative;
  margin-top: -50px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-50 {
  border-radius: 50px !important;
}

.box-shadow {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
}

/*================================================
Default Btn CSS
=================================================*/
.default-btn {
  padding: 12px 25px 10px;
  text-align: center;
  color: var(--whiteColor) !important;
  font-size: var(--fontSize);
  font-weight: 600;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  z-index: 0;
  background: var(--pinkColor);
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.default-btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: auto;
  background: white;

  border-radius: 8px;
  z-index: -1;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: translateX(-50%) translateY(-5%) scale(0.4);
  transform: translateX(-50%) translateY(-5%) scale(0.4);
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.default-btn:hover {
  color: #5832da !important;
  border: 1px #5832da solid !important;
}

.default-btn:hover:before {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(-45%) translateY(0) scale(1);
  transform: translateX(-45%) translateY(0) scale(1);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.default-btn.two {
  background: var(--lightblueColor);
}

.default-btn.two::before {
  background-color: var(--pinkColor);
}

/*================================
Navbar Area
===================================*/
.desktop-nav {
  background-color: #5832da;
  padding-top: 0;
  padding-bottom: 0;
}

.desktop-nav .navbar {
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.ri-search-line {
  color: white;
}
.hamburger-two {
  font-size: 24px !important;
  line-height: 120% !important;
  cursor: pointer;
  color: white;
}
.svg_logo {
  width: 24px;
  cursor: pointer;
}

.desktop-nav .navbar ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.desktop-nav .navbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.desktop-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item a {
  color: white;
  position: relative;
  font-size: 16px;
  z-index: 1;
  font-family: var(--bodyFonts);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.desktop-nav .navbar .navbar-nav .nav-item a i {
  font-size: 18px;
  position: relative;
  top: 5px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  line-height: normal;
}

.desktop-nav .navbar .navbar-nav .nav-item a:hover,
.desktop-nav .navbar .navbar-nav .nav-item a:focus,
.desktop-nav .navbar .navbar-nav .nav-item a.active {
  color: var(--pinkColor);
}

.desktop-nav .navbar .navbar-nav .nav-item a:hover::before,
.desktop-nav .navbar .navbar-nav .nav-item a:focus::before,
.desktop-nav .navbar .navbar-nav .nav-item a.active::before {
  width: 100%;
}

.desktop-nav .navbar .navbar-nav .nav-item a:hover i,
.desktop-nav .navbar .navbar-nav .nav-item a:focus i,
.desktop-nav .navbar .navbar-nav .nav-item a.active i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.desktop-nav .navbar .navbar-nav .nav-item a:hover i,
.desktop-nav .navbar .navbar-nav .nav-item a:focus i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.desktop-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item:hover a,
.desktop-nav .navbar .navbar-nav .nav-item:focus a,
.desktop-nav .navbar .navbar-nav .nav-item.active a {
  color: var(--pinkColor);
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--whiteColor);
  border: none;
  border-top: 2px solid var(--pinkColor);
  position: absolute;
  visibility: hidden;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  border-radius: 5px;
  display: block;
  width: 250px;
  z-index: 99;
  opacity: 0;
  top: 80px;
  left: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding: 0;
  border-bottom: 1px solid #f0eeee;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
  border: none;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--titleColor);
  padding: 12px 20px 7px;
  margin: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:before {
  display: none;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--pinkColor);
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  float: right;
  position: relative;
  top: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: 245px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 11px;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: var(--titleColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: 245px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: var(--titleColor);
  font-size: 15px;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: var(--titleColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: var(--titleColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: var(--titleColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: var(--titleColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  top: -15px;
  visibility: visible;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  top: -15px;
  visibility: visible;
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--pinkColor);
}

.desktop-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.desktop-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  top: 100%;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.desktop-nav-one {
  position: absolute;
  background-color: var(--transition);
  left: 0;
  right: 0;
  border-bottom: 1px solid #ffffff12;
}

.desktop-nav-one .navbar .navbar-nav .nav-item a {
  color: var(--whiteColor);
}

.navbar-area {
  background-color: #5832da;
  border-bottom: 1px solid rgba(18, 53, 91, 0.15);
}

.navbar-area.is-sticky {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #5832da !important;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-area.is-sticky .desktop-nav-one {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #5832da;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  border: none;
}

.mobile-responsive-nav {
  display: none;
}

.nav-widget-form .search-form {
  position: relative;
  display: flex;
  margin: 0 auto;
  border-radius: 9999;

  align-items: center;
  width: 300px;
  height: 60px;
}

.nav-widget-form .search-form .form-control {
  background-color: #14233d;
  border-radius: 5px;
  border: none;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  margin: 0;
  border: none;
  padding: 0 15px;
  color: var(--whiteColor);
}

.nav-widget-form .search-form .form-control::-webkit-input-placeholder,
.nav-widget-form .search-form .form-control:-ms-input-placeholder,
.nav-widget-form .search-form .form-control::-ms-input-placeholder,
.nav-widget-form .search-form .form-control::-webkit-input-placeholder {
  color: var(--whiteColor);
}

.nav-widget-form .search-form .form-control::-webkit-input-placeholder,
.nav-widget-form .search-form .form-control:-ms-input-placeholder,
.nav-widget-form .search-form .form-control::-ms-input-placeholder,
.nav-widget-form .search-form .form-control::placeholder {
  color: var(--whiteColor);
}

.nav-widget-form .search-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-widget-form .search-form button {
  position: absolute;
  right: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 0;
  margin-top: 9px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  background: #ebebeb;
  border-radius: 34px;
}

.nav-widget-form .search-form button:hover {
  background: #5832da !important;
}

.nav-widget-form.nav-widget-form-bg .form-control {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 34px;
  color: var(--bodyColor);
}

.nav-widget-form.nav-widget-form-bg .form-control::-webkit-input-placeholder,
.nav-widget-form.nav-widget-form-bg .form-control:-ms-input-placeholder,
.nav-widget-form.nav-widget-form-bg .form-control::-ms-input-placeholder,
.nav-widget-form.nav-widget-form-bg .form-control::-webkit-input-placeholder {
  color: white;
}

.nav-widget-form.nav-widget-form-bg .form-control::-webkit-input-placeholder,
.nav-widget-form.nav-widget-form-bg .form-control:-ms-input-placeholder,
.nav-widget-form.nav-widget-form-bg .form-control::-ms-input-placeholder,
.nav-widget-form.nav-widget-form-bg .form-control::placeholder {
  color: whitesmoke;
}

.nav-widget-form.nav-widget-form-bg button {
  color: var(--pinkColor);
}

.nav-widget-form.nav-widget-form-bg button:hover {
  background: var(--pinkColor);
  color: var(--whiteColor);
}

.others-options .optional-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.others-options .optional-item-list li {
  display: inline-block;
  margin-right: 20px;
}

.others-options .optional-item-list li a {
  font-size: 15px;
  color: var(--whiteColor);
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding: 12px 20px 10px;
  background-color: #14233d;
  border-radius: 15px;
}

.others-options .optional-item-list li a:hover {
  background-color: var(--pinkColor);
}

.others-options .optional-item-list li a.active {
  background-color: var(--pinkColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.others-options .optional-item-list li a.active:hover {
  background-color: #14233d;
}

.others-options .optional-item-list li:last-child {
  margin-right: 0;
}

.mobile-nav {
  position: absolute;
  top: 21px;
  right: 105px;
  display: none;
}

.mobile-nav .search-btn {
  position: relative;
  z-index: 999;
}

.mobile-nav .search-btn a i {
  font-size: 18px;
  color: var(--pinkColor);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.mobile-nav .search-btn a i:hover {
  color: var(--lightblueColor);
}

.searchmodal .modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  display: table;
}

.modal-content {
  height: 100%;
  border-radius: 0;
  border: none;
  display: table-cell;
  vertical-align: middle;
  background-color: #222;
  opacity: 0.9;
}

.modal-body {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.modal-header {
  border: none;
}

.modal-header button {
  position: relative;
}

.modal-header button.close {
  position: absolute;
  right: 25px;
  top: 25px;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: var(--whiteColor);
  border-radius: 0;
  color: var(--pinkColor);
  text-align: center;
  border: none;
  font-size: 24px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.modal-header button.close:hover,
.modal-header button.close:focus {
  background-color: var(--pinkColor);
  color: var(--whiteColor);
}

.modal-search-form {
  position: relative;
}

.modal-search-form .search-field {
  background-color: transparent;
  height: 50px;
  padding: 8px 15px;
  border: none;
  border: 1px solid var(--whiteColor);
  width: 100%;
  display: block;
  outline: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 0;
  color: var(--whiteColor);
}

.modal-search-form .search-field::-webkit-input-placeholder,
.modal-search-form .search-field:-ms-input-placeholder,
.modal-search-form .search-field::-ms-input-placeholder,
.modal-search-form .search-field::-webkit-input-placeholder {
  color: var(--whiteColor);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.modal-search-form .search-field::-webkit-input-placeholder,
.modal-search-form .search-field:-ms-input-placeholder,
.modal-search-form .search-field::-ms-input-placeholder,
.modal-search-form .search-field::placeholder {
  color: var(--whiteColor);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.modal-search-form .search-field:focus {
  border-color: var(--pinkColor);
}

.modal-search-form .search-field:focus::-webkit-input-placeholder,
.modal-search-form .search-field:focus:-ms-input-placeholder,
.modal-search-form .search-field:focus::-ms-input-placeholder,
.modal-search-form .search-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.modal-search-form .search-field:focus::-webkit-input-placeholder,
.modal-search-form .search-field:focus:-ms-input-placeholder,
.modal-search-form .search-field:focus::-ms-input-placeholder,
.modal-search-form .search-field:focus::placeholder {
  color: transparent;
}

.modal-search-form button {
  border: none;
  background-color: var(--whiteColor);
  color: var(--pinkColor);
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5px;
  padding: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 17px;
  border-radius: 0;
  cursor: pointer;
}

.modal-search-form button i {
  position: absolute;
  left: 0;
  right: 0;
  top: 52%;
  -webkit-transform: translateY(-52%);
  transform: translateY(-52%);
}

.modal-search-form button:hover,
.modal-search-form button:focus {
  background-color: var(--pinkColor);
  color: var(--whiteColor);
}

.side-nav-responsive {
  display: none;
}

.side-nav-responsive .dot-menu {
  padding: 0 10px;
  height: 30px;
  cursor: pointer;
  z-index: 999;
  position: absolute;
  right: 55px;
  top: -38px;
}

.side-nav-responsive .dot-menu .circle-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
}

.side-nav-responsive .dot-menu .circle-inner .circle {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  margin: 0 2px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: var(--pinkColor);
}

.side-nav-responsive .dot-menu:hover .circle-inner .circle {
  background-color: var(--lightblueColor);
}

.side-nav-responsive .container-max {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav-responsive .container-max .container {
  position: absolute;
  top: 10px;
  right: 0;
  max-width: 277px;
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
}

.side-nav-responsive .container-max .container.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.side-nav-responsive .side-nav-inner {
  padding: 6px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
  background-color: var(--whiteColor);
}

.side-nav-responsive .side-nav-inner .side-nav {
  background-color: #0a1831;
  padding: 7px 0px 10px 7px;
}

.side-nav-responsive .side-nav-inner .side-nav .side-nav-item {
  display: inline-block;
  margin-left: 10px;
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list
  li {
  display: inline-block;
  margin-right: 10px;
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list
  li
  a {
  font-size: 14px;
  color: var(--whiteColor);
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding: 10px 12px 8px;
  background-color: #14233d;
  border-radius: 15px;
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list
  li
  a:hover {
  background-color: var(--pinkColor);
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list
  li
  a.active {
  background-color: var(--pinkColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list
  li
  a.active:hover {
  background-color: #14233d;
}

.side-nav-responsive
  .side-nav-inner
  .side-nav
  .side-nav-item
  .optional-item-list
  li:last-child {
  margin-right: 0;
}

/*================================
Navbar Area End
===================================*/

.footer-area {
  background: #5832da;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-widget {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.footer-widget h3 {
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-widget h3.title {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-widget p {
  color: var(--bodyColor);
  margin-bottom: 20px;
}

.footer-widget .footer-logo {
  margin-bottom: 20px;
}

.footer-widget .footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget .footer-list li {
  display: block;
  margin-bottom: 10px;
}

.footer-widget .footer-list li:last-child {
  margin-bottom: 0;
}

.footer-widget .footer-list li a {
  color: white;
  font-size: 16px;
  line-height: 120%;
}

.footer-widget .footer-list li a:hover {
  color: var(--pinkColor);
  letter-spacing: 0.25px;
}

.footer-widget .footer-list li:hover a {
  color: var(--pinkColor);
  letter-spacing: 0.25px;
}

.newsletter-area .newsletter-form {
  position: relative;
  z-index: 1;
  max-width: 380px;
}

.newsletter-area .newsletter-form .form-control {
  background: var(--whiteColor);
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
  max-width: 100%;
  color: var(--bodyColor);
  border: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.newsletter-area .newsletter-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--pinkColor);
}

.newsletter-area .newsletter-form .subscribe-btn {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  padding: 12px 20px 9px;
  font-size: 16px;
  color: var(--whiteColor);
  background-color: var(--pinkColor);
}

.newsletter-area .newsletter-form .subscribe-btn:hover {
  background-color: var(--lightblueColor);
}

.newsletter-area .newsletter-form .validation-danger {
  font-size: 18px;
  margin-top: 5px;
  color: red;
}

.copyright-area {
  background: #5832da;
  padding: 15px 0;
}

.copy-right-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: 5px;
}

.copy-right-text p {
  color: white;
  margin-bottom: 0;
}

.copy-right-text p a {
  color: white;
  font-weight: 500;
}

.copy-right-text p a:hover {
  color: var(--lightblueColor);
}

.copy-right-text .copy-right-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.copy-right-text .copy-right-list li {
  display: inline-block;
  margin-right: 20px;
}

.copy-right-text .copy-right-list li:last-child {
  margin-right: 0;
}

.copy-right-text .copy-right-list li a {
  color: white;
}

.copy-right-text .copy-right-list li a:hover {
  color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    linear-gradient(141.54deg, #faf8d4 7.01%, #d49fbf 96.64%);

  letter-spacing: 0.25px;
}

.copy-right-text .copy-right-list li:hover a {
  color: var(--pinkColor);
  letter-spacing: 0.25px;
}

.copy-right-social {
  float: right;
}

.copy-right-social .social-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.copy-right-social .social-link li {
  display: inline-block;
  margin-right: 10px;
}

.copy-right-social .social-link li:last-child {
  margin-right: 0;
}

.copy-right-social .social-link li a {
  display: inline-block;
}

.copy-right-social .social-link li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  color: #dadada;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
  border-radius: 50px;
}

.copy-right-social .social-link li a:hover i {
  background-color: #dadada;
  color: var(--whiteColor);
}

.footer-shape .footer-shape1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.footer-shape .footer-shape2 {
  position: absolute;
  top: 50px;
  right: 20%;
}

.footer-shape .footer-shape3 {
  position: absolute;
  bottom: 50px;
  left: 20%;
}
